<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

This is my Jupyter Notebook, by Jashan Singh.

Introduction:

Here is a list of Data Science Languages:

    1. Python
    2. SQL
    3. R
    4. Java
    5. C++

Here are some Data Science Libraries:

    1. Pandas
    2. Matplotlib
    3. Keras
    4. Tensorflow
    5. ggplot
    6. Numpy

Here are some data science tools:

    1. Jupyter Notebooks
    2. MongoDB
    3. Visual Studio
    4. IBM Watson
    5. Google Colab
    6. Tensorflow
    7. Keras

Examples of Arithmetic Expression:

In [2]:
#Example of Addition:

5+5

10

In [4]:
#Example of Multiplication:

4*2

8

In [7]:
# Example of Substration:

18-9

9

In [8]:
# Example of Division:

9/4

2.25

In [6]:
# Multiply and Add:

(4*2)+5

13

In [9]:
4*2+5

13

In [12]:
#Code to convert minutes to hours:

minutes = 135

hours = minutes//60


print(hours)

2

# List of Objectives:

- Using Markdown to write comments, heading, instructions.
- Listing Data Science tools, libraries and languages.
- Showing examples of arithmatic functions in Jupyter notebooks. 
- Converting minutes in hours.
- Listing Objectives.
- Author Name.

## Author:

- Jashan Singh